<!--
	XOde Server Based TicTacToe Implementation
 	© 2018 Chiraag Bangera.
    This is one of the partial HTML based template file which helps with the angular MVC framework
-->
<div class="text-center">
    <p>
        <h3>Player Disconnected. Thanks for Playing.</h3>
    </p>
    <h1 class="display-6">SocreBoard</h1>
    <h1 class="display-6">X:{{xscore}} | O:{{oscore}}</h1>
    <h4>
        <p>{{gomessage}}</p>
    </h4>
    <p>
        <h4>Click button to find another session</h4>
        <a ng-click="reboot()" class="btn btn-primary">Play Again</a>
    </p>
</div>