<div class="container-fluid">
    <div class="container-fluid game">
        <h4 style="float:left; text-align: left;">X:{{xscore}}</h4>&nbsp;
        <h4 style="float:right; text-align: right;">O:{{oscore}}</h4>&nbsp;
        <h3 style="text-align:center">{{turn}}</h3>
    </div>
    <div class="container container-main">
		<div style="margin: auto; max-height:1280px; max-width: 720px;height: 720px; width: 100%;" id="canvasHolder">
            <script>
                SETUPGAME();
            </script>
		</div>
	</div>
</div>