body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
  overflow: hidden;
  color: white;
}

canvas {
margin:auto;
}


a {
  color: #00B7FF;
}

.name.hidden {
  max-height: 0;
  visibility: hidden;
}

.pregame.hidden {
  max-height: 0;
  visibility: hidden;
}
