/*
	XOde Server Based TicTacToe Implementation
 	© 2018 Chiraag Bangera.
  The CSS file for the whole web application
*/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
  overflow: hidden;
  color: white;
}

body, html{
  height: 100%;
  margin: auto;
}

a {
  color: #00B7FF;
}

